## User settings
xcuserdata/

## Build generated
DerivedData/
/build/
*.xcarchive
*.ipa
*.dSYM
.DS_Store
.swiftpm/
*.xccovreport
*.xccovarchive
*.profdata
*.doccarchive

## Obj-C/Swift specific
*.hmap
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
.build/

.vscode/
.xpolyglot_localizations/

TestResults*/
*.xcresult

# Screenshots
/screenshots/**/*.html
/screenshots/**/*.png
/screenshots/**/*.mp4

