name: Code Review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: anc95/ChatGPT-CodeReview@v1.0.18
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          LANGUAGE: Russian
          OPENAI_API_ENDPOINT: https://api.proxyapi.ru/openai/v1
          MODEL: gpt-5
          PROMPT: "Вы опытный разработчик Swift/SwiftUI, и ваша задача — проверять запросы на включение изменений. Пожалуйста, проверьте следующий код на наличие недопониманий или нарушений. Не тратьте время на комментарии того, что и так работает идеально. Я жду конструктивной критики и предложений по улучшению кода, только полезных и содержательных замечаний."
